body {
    font-family: 'Merriweather Sans', sans-serif;    margin: 0;
    text-align: center;
}

.intro {
    background-color: #E8F3D6;
    position: relative;
    padding-top: 100px;
    margin-bottom: 40px;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 5.625rem;
    font-weight: 100;
    margin: 50px auto 0 auto;
    color: #5baaaa;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    color: #608d18;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.cloud2 {
    position: absolute;
}

.cloud1 {
    position: absolute;
    right: 300px;
    top: 40px;
}

.profile {
    margin-bottom: 40px;
}

.mike {
    height: 200px;
}

hr {
    border: dashed 3px;
    height: 0;
    width: 5%;
    border-color: rgb(230, 238, 238);
    margin: 30px auto;
}

.skill-row {
    width: 50%;
    margin: 80px auto;
    text-align: left;
    line-height: 2;
}

.skill-row img {
    background-color: #EAF6F6;
    width: 25%;
}

.software-development {
    float: left;
    margin-right: 30px;
}

.problem {
    float: right;
    margin-left: 30px;
}

.songwriter {
    float: left;
    margin-right: 30px;
}

/* .skill-row h3, .skill-row p {
    text-align: left;
} */

h3, a {
    color: #11999E;
}