<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekday</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div id="heading" class="box">
        <h1>
            <%= heading %>
        </h1>
    </div>

    <div class="box">
        <% if (newItem.length===0) {%>
            <div class="empty">
                <h2 style="text-align: center;">Your list is empty</h2>
            </div>
            <%}%>
    </div>

    <div class="box">
        <% for (let i=0; i < newItem.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newItem[i] %>
                </p>
            </div>
            <%}%>

            <%let route = "/";%>
            <%if (heading === "Work List") {%>
                <%route = "/work"%>
            <%}%>
                <form class="item" action="<%= route%>" method="POST">
                    <input type="text" name="item" placeholder="Add New Item" autofocus autocomplete="off">
                    <button type="submit" name="button" value="<%= heading %>">+</button>
                </form>
    </div>

    <footer>
        <a href="https://github.com/MikeRock51">&copy; Mike Rock 23</a>
    </footer>
</body>

</html>
