body {
	font-family: 'Montserrat';
}

#title {
	background-color: #FF4C68;
	color: #fff;
}

h1 {
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 3.5rem;
	line-height: 1.5;
	margin-top: 70px;
}

.container-fluid {
	padding: 3% 15%
}

.icon {
	width: 30px;
}

.navbar-brand {
	font-family: 'Ubuntu';
	font-size: 2.5rem;
	font-weight: 400;
}

.nav-item {
	padding: 0 20px;
	font-size: 1.2rem;
	font-weight: 400;
}

.download-btn {
	margin: 5% 3% 5% 0
}

.iphone {
	width: 60%;
	transform: rotate(25deg);
	padding-top: 60px;
	padding-left: 20px;
}

#features {
	text-align: center;
	margin: 10%;
}

h3 {
	font-family: "Montserrat";
	font-weight: bold;
	font-size: 1.5rem;
}

#features p {
	color: #8f8f8f;
	font-size: 1.2rem;
	width: 300px;
	margin: 0 auto;
}

.features-img {
	color: #ef8172;
	font-size: 5rem;
	margin-bottom: 10px;
}

.features-img:hover {
	color: #FF4C68;
}

#testimonials {
	background-color: #ef8172;
	text-align: center;
	color: #fff;
}

.carousel-item {
	padding: 7% 15% 2%;
}

h2 {
	font-weight: bold;
	font-size: 3rem;
	padding-bottom: 3%;
}

#testimonials img {
	width: 15%;
	border-radius: 100%;
	margin-bottom: 5px;
}

#press {
	background-color: #ef8172;
	padding: 7% 15%;
	text-align: center;
}

#press img {
	width: 16%;
	margin: 0 3%;
}

#pricing {
	padding: 5% 15%;
	text-align: center;
}

#pricing h2 {
	padding-bottom: 0;
}

.pricing-desc {
	padding-bottom: 3rem;
}

.price {
	margin-bottom: 3%;
}

